.board {
    position: relative;
    z-index: 4;

}

.squares,
.square-masks {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square-masks {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}


.chess-piece {
    position: absolute;
    left: 0;
    cursor: pointer;
}